/* ==========================================================================
Header
========================================================================== */

.header{
  background-color: #C4DAED;
  width: 100%;
  height: 200px;
}

.imgBan{
  margin: 10px;
  width: 100px;
  display: inline-block;
}

#imgBan1{
  height: 100px;
}

#imgBan2{
  height: 80px;
}

/* ==========================================================================
.nav
========================================================================== */
.nav{
  padding-top: 5px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav li {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s;
}
.nav a {
  padding: 10px 20px;
  color: white;
  background-color: #15A9DE;
  margin: 0;
  transform: skewX(-10deg);
  display: block;
  transition: all 0.3s;
  text-decoration: none;
}
.nav a:hover {
  background-color: #E31B1D;
}
.nav span {
  display: block;
  transform: skewX(10deg);
}


/* ==========================================================================
Modal
========================================================================== */

#fond {
   position:absolute;
   z-index:9000;
   background-color:#000;
   display:none;
}

.popup {
   position:fixed;
   width:440px;
   height:200px;
   display:none;
   z-index:9999;
   padding:20px;
   border-radius: 10px;
   background-color: white;
   border: 1px solid grey;
}

#modal {
   width:70%;
   height:60%;
}

#fond2 {
   position:absolute;
   z-index:9000;
   display:none;
}

.popup2 {
   position:fixed;
   width:440px;
   height:200px;
   display:none;
   z-index:9999;
   padding:20px;
   border-radius: 10px;
   background-color: white;
   border: 1px solid grey;
}

#modal2 {
   width:250px;
   height:150px;
}

#fond3 {
   position:absolute;
   z-index:9000;
   background-color:#000;
   display:none;
}

.popup3 {
   position:fixed;
   width:440px;
   height:200px;
   display:none;
   z-index:9999;
   padding:20px;
   border-radius: 10px;
   background-color: white;
   border: 1px solid grey;
}

#modal3 {
   width:70%;
   height:60%;
}

#fond4 {
   position:absolute;
   z-index:9000;
   background-color:#000;
   display:none;
}

.popup4 {
   position:fixed;
   width:440px;
   height:200px;
   display:none;
   z-index:9999;
   padding:20px;
   border-radius: 10px;
   background-color: white;
   border: 1px solid grey;
}

#modal4 {
   width:30%;
   height:20%;
}


#xmlVersion{
  display: block;
  width:100%;
  height:70%;
  resize: none;
}

#function{
  display: block;
  width:100%;
  height:45%;
  resize: none;
}

#editTree{
  display: block;
  width:100%;
  height:70%;
}

#chooseTree{
  width:100%;
  height:400px;
  overflow: auto;
}

#instructionExport3{
  text-align: center;
  padding-top: 15%;
  padding-bottom: 20%;
}

#instructionExport31{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.idName{
  width:100%;
  height: 60px;
  overflow: auto;
}

.operationBox{
  margin-top: 10px;
  margin-bottom: 10px
}

.operation{
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

/* ==========================================================================
content
========================================================================== */

#logo{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.title{
  margin: 10px;
}

.glyphicon-list, .glyphicon-import{
  padding-right: 10px;
  display: inline-block;
  font-size: 20px;
}

.glyphicon-download-alt{
  padding-left: 10px;
}

.glyphicon-arrow-left{
  padding-right: 10px;
}

.glyphicon-chevron-right{
  padding-left: 10px;
}

.name{
  padding-right: 25%;
  display: inline-block;
}

#termText{
  padding-right: 20%;
}

.block{
  margin : 30px;
  background-color: #C4DAED;
  display: inline-block;
  height: 100%;
  width : 40%;
  border: 2px solid #E3E3E3;
}

#term{
  float:right;
}

#addTerm{
    width: 100%;
}

#customTerm{
  width: 100%;
  margin-top: 30px;
}

#treeObj{
  float:left;
}

#invisibleTree{
  display:none;
}

.but{
  position: absolute;
  margin-top: 25%;
  margin-left: 45%;
  width: 10%;
}

#contentTerm{
  padding: 50px;
  padding-top: 20px;
  background-color: white;
}

.tree{
  background-color: white;
  overflow: auto;
  width: 100%;
  padding-left: 50px;
  padding-top: 50px;
  height: 960px;
}

#subTree{
  padding-left: 50px;
  padding-right: 50px;
  height: 400px;
}

#tree{
  background-color: white;
  width: 100%;
  overflow: auto;
}

.data{
  float: left;
  height: 100%;
  width: 30%
}

.treeObj{
  float: right;
  height: 100%;
  width: 30%
}

.content{
  height: 1000px;
  background-color: white;
}


#tree::-webkit-scrollbar, #subTree::-webkit-scrollbar, #editTree::-webkit-scrollbar, #dataTree::-webkit-scrollbar, #chooseTree::-webkit-scrollbar{
    width: 12px;
}

#tree::-webkit-scrollbar-track, #subTree::-webkit-scrollbar-track, #editTree::-webkit-scrollbar-thumb, #dataTree::-webkit-scrollbar-thumb, #chooseTree::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#tree::-webkit-scrollbar-thumb, #subTree::-webkit-scrollbar-thumb, #editTree::-webkit-scrollbar-thumb, #dataTree::-webkit-scrollbar-thumb, #chooseTree::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.custom4{
  width:100%;
  height: 40px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

.custom3{
  width:50%;
  height: 40px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

.custom2{
  width:33.3333%;
  height: 40px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

.custom{
  margin-top: 30px;
  width:50%;
  height: 40px;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
}

.term{
  padding-top: 50px;
}

#subTree > .list-group > .list-group-item , .tree > .list-group > .list-group-item, #editTree > .list-group > .list-group-item{
    position: relative;
    display: table-row-group;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    white-space: nowrap;
}


.sugest{
  width: 200px;
  margin : auto;
  padding-top: 5%;
}

#sugestion{
  width: 100%;
}

#import{
  width: 100%;
}


#export{
  width: 100%;
  margin-top: 30px;
}

#table2{
  background-color: white;
  display: none;
}

/* ==========================================================================
search bar
========================================================================== */

#inputTerm{
  display: inline-block;
  width: 70%;
  float: left;
}

#submitTerm{
  display: inline-block;
  float: right;
  margin-right: 10%
}

/* ==========================================================================
select div and glyphicon
========================================================================== */

.round{
  position: absolute;
  color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  background-color: white;
}

.selected{
  position: absolute;
  color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  background-color: black;
}

.rigth{
  position: relative;
  float: right;
}

.glyphicon-barcode{
  margin-left: 30px;
}

.glyphicon-barcode-step3{
  margin-left: 0px;
}

/* ==========================================================================
import
========================================================================== */

#file-1{
  display: none;
}

#file-2{
  display: none;
}

#file-3{
  display: none;
}

#file-3-label{
  float: right;
}

.rigthfloat{
  float: right;
}
