<div class="header">
  <center>
    <div class="">
      <img class="imgBan" id="imgBan1" src="../img/snt.png" alt="SNT logo">
      <img class="imgBan" id="imgBan2" src="../img/UniversityLu.png" alt="University Luxembour logo">
      <h3 >Welcome to my tool</h3>
    </div>
  </center>
</div>
<div class="nav">
  <ul>
    <li><a href="../index.html"><span>Step 1</span></a></li>
    <li><a href="step2.html"><span>Step 2</span></a></li>
    <li><a href="step3.html"><span>Step 3</span></a></li>
  </ul>
</div>
