<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap tree</title>

    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-treeview.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/component.css" rel="stylesheet">


  </head>
  <body id="body">
    <div id="fond"></div>
    <div id="modal" class="popup"></div>
    <div id="fond2"></div>
    <div id="modal2" class="popup2"></div>
    <div class="header">
      <center>
        <div class="">
          <img class="imgBan" id="imgBan1" src="../img/snt.png" alt="SNT logo">
          <img class="imgBan" id="imgBan2" src="../img/UniversityLu.png" alt="University Luxembour logo">
          <h3 >Welcome to my tool</h3>
        </div>
      </center>
    </div>
    <div class="nav">
      <ul>
        <li><a href="../index.html"><span>Step 1</span></a></li>
        <li><a href="step2.html"><span>Step 2</span></a></li>
        <li><a href="step3.html"><span>Step 3</span></a></li>
      </ul>
    </div>
    <div class="data block">
      <div class="title">
        <h4 class='name'>Data</h4>
        <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1 " data-multiple-caption="{count} files selected" multiple />
        <label class="rigthfloat" for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
      </div>
      <div id="dataTree"></div>
    </div>
    <div class="treeObj block">
      <div class="title">
        <h4 class='name'>O-DF</h4>
      </div>
      <div id="tree"></div>
    </div>
    <div class="sugest">

      <button class="btn btn-default" id="export">export</button>
    </div>
    <div id="invisibleTree"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="../js/FileSaver.js"></script>
    <script src="../js/jszip.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-treeview-step3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="../js/step3.js"></script>
    <script src="../js/jsplumb.js"></script>
    <script type="text/javascript">
	    jsPlumb.ready(function() {
	        jsPlumb.setContainer($("#jsplump"));
	    });

    </script>
  </body>
</html>
